@import "_variables.scss";
@import "_mixins.scss";
.header {
  background-image: url("../img/background_photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  .baner {
    &__left {
      margin-top: 100px;
      .baner__subtitle {
        color: $blue;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1.26px;
        line-height: 48px;
      }
      .baner__title {
        color: $white;
        font-size: 48px;
        line-height: 65px;
        font-weight: 600;
      }
      .baner__text {
        color: $gray;
        font-weight: 400;
        line-height: 26px;
        font-size: 18px;
      }
      .baner__buttons {
        margin-top: 63px;
        .btn {
          width: 160px;
          height: 50px;
          border-radius: 4px;
          font-weight: 700;
          line-height: 36px;
        }
        .btn-primary {
          background-color: $blue;
          margin-right: 20px;
          &:hover {
            background: $blue-hover;
            border: 1px solid $blue;
          }
        }
        .btn-secondary {
          background: none;
          border: 1px solid $gray;
          &:hover {
            background: $gray;
          }
        }
      }
    }
    &__right {
      margin-top: 100px;
    }
  }
}

// Additional styles for screens smaller than 363px
@media (max-width: 363px) {
  .header {
    .baner {
      &__left {
        margin-top: 50px;
        text-align: center;
        .baner__subtitle {
          color: $blue;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 1.26px;
          line-height: 30px;
        }
        .baner__title {
          color: $white;
          font-size: 40px;
          line-height: 45px;
          font-weight: 600;
          margin-bottom: 20px;
        }
        .baner__text {
          color: $gray;
          font-weight: 400;
          line-height: 26px;
          font-size: 18px;
        }
        .baner__buttons {
          .btn {
            width: 180px;
            height: 50px;
            font-size: 16px;
            border-radius: 4px;
            font-weight: 700;
            line-height: 36px;
          }
          margin-top: 63px;
          padding-bottom: 30px;
          @include flex-column;
          .btn-primary {
            margin-right: 0px;
            margin-bottom: 20px;
          }
        }
      }
      &__right {
        display: none;
      }
    }
  }
}

// For screens with width from 363px to 576px
@media (min-width: 363px) and (max-width: 575.98px) {
  .header {
    .baner {
      &__left {
        margin-top: 55px;
        text-align: center;
        .baner__subtitle {
          color: $blue;
          font-size: 16px;
          font-weight: 700;
          letter-spacing: 1.26px;
          line-height: 35px;
        }
        .baner__title {
          color: $white;
          font-size: 45px;
          line-height: 55px;
          font-weight: 600;
          margin-bottom: 20px;
        }
        .baner__text {
          color: $gray;
          font-weight: 400;
          line-height: 25px;
          font-size: 22px;
        }
        .baner__buttons {
          padding-bottom: 30px;
          @include flex-column;
          .btn {
            width: 250px;
            height: 50px;
            font-size: 16px;
            border-radius: 4px;
            font-weight: 700;
            line-height: 36px;
          }
          .btn-primary {
            background-color: $blue;
            margin-right: 0px;
            margin-bottom: 20px;
          }
          .btn-secondary {
            background: none;
            border: 1px solid $gray;
          }
        }
      }
      &__right {
        display: none;
      }
    }
  }
}

// For screens with width from 576px to 768px
@media (min-width: 576px) and (max-width: 767.98px) {
  .header {
    .baner {
      &__left {
        margin-top: 60px;
        text-align: center;
        .baner__subtitle {
          color: $blue;
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 1.26px;
          line-height: 35px;
        }
        .baner__title {
          color: $white;
          font-size: 50px;
          line-height: 60px;
          font-weight: 600;
          margin-bottom: 20px;
        }
        .baner__text {
          color: $gray;
          font-weight: 400;
          line-height: 35px;
          font-size: 24px;
        }
        .baner__buttons {
          padding-bottom: 30px;
          .btn {
            width: 160px;
            height: 50px;
            font-size: 18px;
            border-radius: 4px;
            font-weight: 700;
            line-height: 36px;
          }
          .btn-primary {
            background-color: $blue;
            margin-right: 20px;
          }
          .btn-secondary {
            background: none;
            border: 1px solid $gray;
          }
        }
      }
      &__right {
        display: none;
      }
    }
  }
}

// For screens with width from 768px to 992px
@media (min-width: 768px) and (max-width: 991.98px) {
  .header {
    background-image: url("../img/background_photo.png");
    background-repeat: no-repeat;
    background-size: cover;
    .baner {
      &__left {
        margin-top: 70px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .baner__subtitle {
          color: $blue;
          font-size: 16px;
          font-weight: 700;
          letter-spacing: 1.26px;
          line-height: 30px;
        }
        .baner__title {
          color: $white;
          font-size: 40px;
          line-height: 45px;
          font-weight: 600;
        }
        .baner__text {
          color: $gray;
          font-weight: 400;
          line-height: 25px;
          font-size: 20px;
        }
        .baner__buttons {
          display: flex;
          margin-top: 15px;
          margin-bottom: 15px;
          .btn {
            width: 160px;
            height: 50px;
            border-radius: 4px;
            font-weight: 700;
            line-height: 36px;
          }
          .btn-primary {
            background-color: $blue;
            margin-right: 20px;
            &:hover {
              background: $blue-hover;
              border: 1px solid $blue;
            }
          }
          .btn-secondary {
            background: none;
            border: 1px solid $gray;
            &:hover {
              background: $gray;
            }
          }
        }
      }
      &__right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        img {
          flex: 1;
        }
      }
    }
  }
}
