@import "variables.scss";
.main {
  .product-overview {
    padding-bottom: 140px;
    padding-top: 100px;
    text-align: center;
    img {
      margin-top: 35px;
      margin-bottom: 102px;
    }
    &__block {
      img {
        margin-bottom: 63px;
      }
      .product-overview__block-title{
        font-size: 24px;
      }
      .product-overview__block-text {
        margin: 0px 20px;
      }
    }
  }
}

// Additional styles for screens smaller than 363px
@media (max-width: 363px) {
  .main {
    .product-overview {
      padding-top: 30px;
      padding-bottom: 40px;
      img {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      &__block {
        img {
          margin-bottom: 20px;
        }
        .product-overview__block-title{
          font-size: 16px;
        }
        .product-overview__block-text {
          margin: 0px 10px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

// For screens with width from 363px to 576px
@media (min-width: 363px) and (max-width: 575.98px) {
  .main {
    .product-overview {
      padding-top: 40px;
      padding-bottom: 60px;
      img {
        margin-top: 40px;
        margin-bottom: 50px;
      }
      &__block {
        img {
          margin-top: 0px;
          margin-bottom: 10px;
        }
        .product-overview__block-title{
          font-size: 25px;
        }
        .product-overview__block-text {
          margin: 0px 25px;
          padding-bottom: 50px;
        }
      }
    }
  }
}

// For screens with width from 576px to 992px
@media (min-width: 576px) and (max-width: 991.98px) {
  .main {
    .product-overview {
      padding-top: 40px;
      padding-bottom: 20px;
      img {
        margin-bottom: 50px;
      }
      &__block {
        img {
          margin-top: 0px;
          margin-bottom: 10px;
        }
        .product-overview__block-title{
          font-size: 25px;
        }
        .product-overview__block-text {
          margin: 0px 10px;
          padding-bottom: 50px;
        }
      }
    }
  }
}

