@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
$background-black: #15141a;
$white: #ffffff;
$blue: #008ed6;
$gray: #999999;
$blue-hover: #38bdff;