@import "_variables.scss";
@import "_mixins.scss";
@import "header.scss";
@import "baner.scss";
@import "product-overview.scss";
@import "details.scss";
@import "testimonials-slider.scss";
@import "pricing-plans.scss";
* {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
}
*{
  padding: 0;
  margin: 0;
  border: 0;
}
.container {
  max-width: 1170px;
}
img {
  max-width: 100%;
  height: auto;
}
.title {
  font-size: 36px;
  font-weight: 600;
}
.subtitle {
  color: $blue;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.26px;
  line-height: 30px;
}
.text {
  color: $gray;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}
.btn {
  width: 160px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  line-height: 36px;
}
.btn-primary {
  background-color: $blue;
  &:hover {
    background: $blue-hover;
    border: 1px solid $blue;
  }
}
.btn-secondary {
  background: none;
  border: 1px solid $gray;
  &:hover {
    background: $gray;
  }
}
.span-blue{
  color: $blue;
}


// Additional styles for screens smaller than 363px
@media (max-width: 363px) {
  .subtitle {
    font-size: 12px;
    line-height: 15px;
  }
  .title {
    font-size: 25px;
  }
  .text {
    font-size: 18px;
    line-height: 25px;
  }
  .btn {
    width: 180px;
    height: 50px;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 700;
    line-height: 36px;
  }
}
// For screens with width from 363px to 576px
@media (min-width: 363px) and (max-width: 575.98px) {
  .subtitle {
    font-size: 16px;
    line-height: 35px;
  }
  .title {
    font-size: 30px;
  }
  .text {
    font-size: 23px;
    line-height: 30px;
  }
  .btn {
    width: 250px;
    height: 50px;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 700;
    line-height: 36px;
  }
}

// For screens with width from 576px to 768px
@media (min-width: 576px) and (max-width: 767.98px) {
  .subtitle {
    font-size: 18px;
    line-height: 35px;
  }
  .text {
    font-size: 24px;
    line-height: 30px;
  }
  .btn {
    width: 160px;
    height: 50px;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 700;
    line-height: 36px;
  }
}
// For screens with width from 768px to 992px
@media (min-width: 768px) and (max-width: 991.98px) {
  .subtitle {
    font-size: 16px;
    line-height: 30px;
  }
  .text {
    line-height: 30px;
  }
  .btn {
    width: 160px;
    height: 50px;
    border-radius: 4px;
    font-weight: 700;
    line-height: 36px;
  }
}
